:root {
  --primaryColor: #1877f2;
  --font-family: Poppins, sans-serif;
  --secondaryColor: #42B72A;
  --bodyColor: rgba(238, 238, 238, 0.732);
  --shadow: 0 1px 3px rgba(56, 56, 56, 0.314);
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--bodyColor);
  font-family: var(--font-family);
}

.wideScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  padding: 1rem;
}
.wideScreen .left {
  width: 40%;
  margin-right: 1rem;
  margin-top: -2rem;
}
.wideScreen .left h1 {
  font-size: 3.5rem;
  color: #1877f2;
}
.wideScreen .left p {
  font-size: 25px;
}
.wideScreen .right form {
  background: white;
  padding: 1.5rem;
  border-radius: 10px;
  width: 100%;
  box-shadow: var(--shadow);
}
.wideScreen .right form label {
  display: block;
}
.wideScreen .right form label input {
  width: 90%;
  padding: 1rem;
  border: 2px solid rgb(222, 222, 222);
  border-radius: 8px;
  font-size: 15px;
}
.wideScreen .right form label:nth-child(2) {
  margin-top: 0.5rem;
}
.wideScreen .right form label:nth-child(3) {
  margin-top: 1rem;
  text-align: center;
}
.wideScreen .right form label:nth-child(3) button {
  padding: 1rem;
  width: 100%;
  font-size: 18px;
  color: white;
  background: #1877f2;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}
.wideScreen .right form .forgot {
  margin-top: 1em;
  text-align: center;
}
.wideScreen .right form .forgot a {
  font-size: 13px;
  text-decoration: none;
}
.wideScreen .right form hr {
  margin-top: 1rem;
  border: 1px solid rgb(233, 232, 232);
}
.wideScreen .right form label:nth-child(6) {
  margin-top: 1.5rem;
  text-align: center;
}
.wideScreen .right form label:nth-child(6) button {
  padding: 1rem;
  font-size: 18px;
  color: white;
  background: var(--secondaryColor);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.wideScreen .right p {
  font-size: 15px;
  margin-top: 1rem;
}
.wideScreen .sign_up {
  background: white;
  position: absolute;
  border-radius: 5px;
  width: 30rem;
  top: 20rem;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--shadow);
  display: none;
}
.wideScreen .sign_up .head {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.wideScreen .sign_up .head .text h2 {
  font-size: 30px;
}
.wideScreen .sign_up .head .text p {
  font-size: 14px;
  color: rgb(175, 172, 172);
}
.wideScreen .sign_up .head .close {
  cursor: pointer;
}
.wideScreen .sign_up .head .close h3 {
  font-size: 28px;
}
.wideScreen .sign_up hr {
  border-radius: 1px;
  border: 0.2px solid rgba(207, 207, 207, 0.865);
}
.wideScreen .sign_up form {
  padding: 1rem;
}
.wideScreen .sign_up form .name input {
  padding: 0.8rem 1rem;
  display: inline;
  background: var(--bodyColor);
  border: 1px solid rgb(213, 213, 213);
  border-radius: 5px;
  font-size: 14px;
}
.wideScreen .sign_up form .contact_password {
  margin-top: 0.8rem;
}
.wideScreen .sign_up form .contact_password input {
  display: block;
  padding: 0.8rem;
  width: 95%;
  background: var(--bodyColor);
  margin-top: 0.5rem;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 5px;
  font-size: 14px;
}
.wideScreen .sign_up form .contact_password .pass input {
  margin-top: 0.8rem;
}
.wideScreen .sign_up form .date {
  margin-top: 1rem;
}
.wideScreen .sign_up form .date p {
  font-size: 12px;
}
.wideScreen .sign_up form .date input {
  margin-top: 0.3rem;
  width: 20%;
  padding: 0.5rem;
  border: 1px solid rgb(213, 213, 213);
  border-radius: 5px;
  font-size: 14px;
  background: var(--bodyColor);
}
.wideScreen .sign_up form .gender {
  margin-top: 1rem;
}
.wideScreen .sign_up form .gender p {
  font-size: 12px;
}
.wideScreen .sign_up form .gender input[type=radio] {
  display: none;
}
.wideScreen .sign_up form .gender .bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
  border-radius: 50px;
  border: 2px solid var(--primaryColor);
  box-shadow: var(--primaryColor);
  flex-direction: column;
}
.wideScreen .sign_up form .gender .bubble::after {
  content: "";
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: var(--primaryColor);
  box-shadow: var(--primaryColor);
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}
.wideScreen .sign_up form .gender input:checked ~ .bubble::after {
  width: 5px;
  height: 5px;
  opacity: 1;
}
.wideScreen .sign_up form .note {
  margin-top: 1rem;
}
.wideScreen .sign_up form .note p {
  font-size: 12px;
}
.wideScreen .sign_up form .note p:nth-child(2) {
  margin-top: 0.5rem;
}
.wideScreen .sign_up form .signUP {
  text-align: center;
  margin-top: 1rem;
}
.wideScreen .sign_up form .signUP button {
  padding: 0.8rem 2rem;
  font-size: 18px;
  background: #42B72A;
  color: white;
  border: 0;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.wideScreen .active {
  display: block;
  transition: 1s ease-in-out;
}/*# sourceMappingURL=style.css.map */